:root {
  --primary-background-color: #1f1f1f;
  --secondary-background-color: #121314;
  --title-font-family: "Lato", sans-serif;
  --text-font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--text-font-family);
  font-weight: bold;
}

.navbar__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}

.navbar__menu-icon {
  margin-right: 28px;
}

.navbar__button-signin {
  border: none;
  background-color: #0070cc;
  border-radius: 20px;
  padding: 5px;
  width: 8rem;
  color: #ffffff;
  font-family: var(--text-font-family);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar__container-logo {
  margin: 20px 0;
  text-align: center;
}

.navbar__logo {
  width: 50%;
  max-width: 400px;
  aspect-ratio: 8/3;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 1.6rem;
}

.navbar__item {
  margin-bottom: 20px;
}

.navbar__link {
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar__link:hover {
  text-decoration: none;
  color: #ff0000;
}

.banner-container {
  background-color: #000000;
}

.game-video {
  width: 100%;
  aspect-ratio: 2560/956;
  display: block;
}

.game {
  height: auto;
  background-color: var(--primary-background-color);
  position: relative;
  padding-bottom: 10px;
}

.game::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.game__info-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
  position: relative;
  color: #ffffff;
  top: -30px;
}

.game__title {
  font-family: var(--title-font-family);
  text-transform: capitalize;
  font-size: 4rem;
}

.game__text,
.game__button {
  font-family: var(--text-font-family);
  text-transform: capitalize;
  font-size: 1.5rem;
}

.game__text--ps5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #ffffff;
}

.game__text--bold {
  font-size: 1.8rem;
  font-weight: bold;
}

.game__text--price {
  margin-top: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

.game__button {
  background-color: #d63d00;
  border: 0;
  border-radius: 40px;
  width: 270px;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: middle;
}

.favorite-icon {
  vertical-align: middle;
  fill: #ffffff;
}

.media {
  background-color: var(--primary-background-color);
  padding-bottom: 10px;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
}

.media-container__img {
  width: 100%;
  aspect-ratio: 16/9;
  padding: 10px;
  border-radius: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
}

.media-container__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 0;
  border-radius: 20px;
}

.overview {
  position: relative;
  background-image: url(../assets/images/Marvels-spider-man-2-page-banner-desktop-miles-and-peter.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 600px;
  color: #ffffff;
  font-family: var(--text-font-family);
  font-size: 1.5rem;
  padding-left: 10px;
}

.overview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overview__body {
  position: absolute;
  bottom: 40px;
}

.overview__subtitle {
  background-color: #ff0000;
  display: inline-block;
  width: 180px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.overview__title {
  font-family: var(--title-font-family);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.overview__paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
}

.features {
  background-color: var(--secondary-background-color);
  color: #ffffff;
  padding: 80px 0 40px;
  text-align: center;
}

.features__title {
  font-family: var(--title-font-family);
  text-transform: uppercase;
  font-size: 4rem;
}

.features__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 0 20px;
}

.features__media {
  font-family: var(--text-font-family);
  margin-bottom: 40px;
}

.features__image {
  width: 80%;
  aspect-ratio: 300/353;
  border: 2px solid #3a8080;
}

.features__image--big {
  aspect-ratio: 600/707;
}

.features__image-caption {
  margin-top: 40px;
}

.features__subtitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.features__paragraph {
  font-size: 1.5rem;
}

.my-github {
  background-color: var(--secondary-background-color);
  color: #ffffff;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 5vh;
}

.my-github__link {
  color: #f402f4;
}
