.navbar__icon,
.navbar__button-signin,
.game__button {
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media {
  padding: 100px 0;
  --sb-track-color: #f1f1f1;
  --sb-thumb-color: #ff0000;
  --sb-size: 12px;
}

.media-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 100px;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
}

.media-container__img-container {
  width: 50%;
}

.media-container__img {
  width: 500px;
}

.media-container__video {
  width: 500px;
  height: 281.25px;
}

.video-container {
  padding-bottom: 0px;
}

.media-container::-webkit-scrollbar {
  height: var(--sb-size);
}

.media-container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

.media-container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  .media-container {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
